# {{.Title}}

## Status
Accepted

## Date
{{.Date}}

{{if .Body}}{{.Body}}{{else}}## Context

[Why was this decision needed?]

## Decision

[What was decided?]

## Consequences

[What follows from this decision?]
{{end -}}